*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    
}
button{
   cursor:pointer;
}
/*regole comuni*/
li{
   display: inline;
   margin:20px;
}
.menu_left li a{
   text-decoration: none;
   font-size: 18px;
   color:black;
}

.menu_right li a{
   text-decoration: none;
   font-size: 18px;
   color:black;
}

.button_text{
   position:absolute;
   bottom:25%;
   left:9%;
   padding:10px 30px;
   background-color: rgba(0, 97, 255, 1);
   color:white;
   border:none;
   font-size: 18px;
}




/*Barra di navigazione*/
nav{
   position:relative;
   padding:35px;
   width: 100%;
   min-height: 10vh;
   
   
   
}
.logo{
  float:left;
  margin-left:-10px;
  padding-right: 20px;
}



.menu_left{
   float:left;
   line-height: 25px;
   vertical-align: middle;
}

.menu_right{
   float:right;
   line-height: 25px;
   vertical-align: middle;
   margin-right:80px;
}

.--start{
   padding:5px 20px;
   line-height: 20px;
   vertical-align: middle;
   position:absolute;
   right:0;
   bottom:37%;
   margin-right:25px;
   background-color: rgba(0, 97, 255, 1);
   border:none;
   color:white;
}
/*Barra di navigazione****/



/*hero_container****/
.hero_container{
   position:relative;
   width: 100%;
   height: 80vh;
   background-color: rgba(180, 208, 231, 1);
}

.primary_text{
   position:absolute;
   bottom:65%;
   left:9%;
   min-width: 1550px;
   min-height: 15vh;
   
}

.primary_text > h1{
   font-family: 'Roboto', sans-serif;
   color:rgba(0, 0, 0, 1);
   font-size: 90px;
}

.primary_paragraph{
   position:absolute;
   bottom:35%;
   left:9%;
   min-width: 700px;
   min-height: 15vh;
   

}

.primary_paragraph > p{
   font-size: 20px;
   line-height: 30px;
   font-family: 'Roboto', sans-serif;
   font-weight: 400;
   
}

.jumbo{
   width: 880px;
   height: 50vh;
   background-image: url(../img/jumbo.png);
   background-size: cover;
   position:absolute;
   right: 250px;
   bottom: -80px;
}

.deleteP{
   width: 300px;
   
   position:absolute;
   bottom:18%;
   left:9%;
   
}

.deleteP > p{
   font-size: 20px;
   line-height: 30px;
   font-family: 'Roboto', sans-serif;
   font-weight: 400;
}

.ico_img i{
   display: inline-block;
   position: absolute;
   bottom:80px;
   left:9%;
   
   
}

.ico_img{
   
   position:absolute;
   bottom:35px;
   left:7.5%;
}

/*hero_container****/

/*container01*/
.container_01{
   width: 1600px;
   margin:15rem auto;
   
  
}
/*container01*/
.plan{
   position:relative;
   padding:50px;
   
}
.plan > h1{
   font-size: 50px;
   margin-left:10.5%;
   font-family: 'Roboto', sans-serif;
}

.box{
   
   width: 350px;
   margin-left:150px;
   margin-top:200px;
   height: 1400px;
   border:1px solid rgba(224, 224, 226, 1);
   box-shadow: 0 0 10px rgba(224, 224, 226, 1);
   float:left;
}

.clearfix::after{
   content:"";
   display:table;
   clear: both;
}
 
.container_form{
   width: 450px;
   position:absolute;
   top: 11%;
   left: 13%;
   display:fixed;
}

.form_action{
   font-size: 18px;
   line-height: 30px;
   font-family: 'Roboto', sans-serif;
   font-weight: 400;
   margin:10px;
}


/*implementazione box professionale (1 box)*/

.professional{
position:relative;
}

.single_user{
   width: 100%;
   
   text-align: center;
   padding:15px;
   font-size: 18px;
   line-height: 30px;
   font-family: 'Roboto', sans-serif;
   font-weight: 400;
   border-bottom:1px solid rgba(224, 224, 226, 1);
}
.mouth{
   color:rgba(132, 144, 154, 1)
}
.professional_single, .mouth{
   padding:15px;
   font-family: 'Roboto', sans-serif;
}

.professional_user{
   padding:29px;
   font-family: 'Roboto', sans-serif;
   font-weight: 300;
   font-size: 18px;

}
.pen{
   line-height: 30px;
   text-align: end;
   
}



 h4 {
   padding:15px;
   font-weight: 300;
   font-family: 'Roboto', sans-serif;
   font-size: 18px;
}
.try_professional a {
   text-decoration: none;
   
   padding:9px 20px;
    background-color: rgba(0, 97, 255, 1);
    color: white;
    border: none;
    font-size: 18px;
    
}

.punti_plan{
   font-weight: 700;
}
.try_professional{
   padding:20px;
}




.buy_now a{
   color: rgba(60, 134, 255, 1);
   
}

.border{
   width: 40px;
   height: 3px;
   background-color: rgba(224, 224, 226, 1);
   margin-left:15px;
}

.punti_plan{
   padding-top:50px;
   margin-left:15px;
   font-family: 'Roboto', sans-serif;
   font-size: 18px;
   
}

.check{
   width: 100%;
   height: 100%;
   
   
}

.check ol{
   list-style: none;
   
}
.check li{
   display:inline-block;
   margin:12px;
   font-family: 'Roboto', sans-serif;
   font-weight: 300;
   font-size: 18px;
   padding:10px;
   
   
}
.fa-check{
   color:rgba(18, 108, 255, 1);
}


.box_office{
   position:relative;
   width: 1380px;
   margin: 11.5rem;
   border:1px solid rgba(224, 224, 226, 1);
   box-shadow: 0 0 10px rgba(224, 224, 226, 1);
   
}

.box_office h2{
   text-align: center;
   padding:15px;
   font-weight: 300;
   font-family: 'Roboto', sans-serif;
   border-bottom:1px solid rgba(224, 224, 226, 1);
}

.contact{
   padding:30px;
   line-height: 70px;
}

.contact_office{
   font-weight: bold;
}

p{
   font-family: 'Roboto', sans-serif;
}


.botton_office{
   color:white;
   position:absolute;
   right: 46px;
   top: 97px;
   text-decoration: none;
   padding:0px 100px;
   background-color: rgba(0, 97, 255, 1);
   color: white;
   border: none;
   font-size: 18px;
}

.partner{
   width: 1380px;
   margin: 11.5rem;
   height: 50vh;
   
   
}

.sezione_img{
   float:left;
   width: 30%;
   height: 100%;
   background-image: url(../img/partner.png);
   background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}

.sezione_text{
   margin-left:5%;
   position:relative;
   float:left;
   width: 50%;
   height: 100%;
   margin-top:20px;
   padding-top:40px;
   line-height: 35px;
}
.sezione_text >h1{
   position: absolute;
    top: 50px;
}

.sezione_text > p{
   position: absolute;
   top:150px;
   
}

.button_partner{
   position:absolute;
   bottom:20%;
   text-decoration: none;
   padding:5px 20px;
   border:1px solid black;
   box-shadow: 0 0 10px rgba(224, 224, 226, 1);
   color:black;
   font-weight: 700;
   
}

.operativity{
   margin: 9rem 2rem 0 11rem;
   width: 90%;
   
   
   
}

.operazione{
   float: left;
   width: 422px;
   margin: 29px;
}


.operativity_img{
   width: 100%;
   height: 50%;
  
}
.operativity_text{
   margin-top:30px;
}
.operativity_text > h1{
   font-size: 35px;
   line-height: 40px;
   letter-spacing: 1px;
   font-family: 'Roboto', sans-serif;
   
}

.operativity_text > p{
   margin-top:30px;
   line-height: 25px;
}

#paper{
   text-decoration:underline;
}
.team{
   width: 600px;
   margin-left:21rem;
   height: 20vh;
   
}

.team > h1{
   font-size: 2rem;
   font-family: 'Roboto', sans-serif;
}


.team a{
   color: rgba(97, 157, 255, 1);
   display: inline-block;
    margin-top: 30px;
    font-family: 'Roboto', sans-serif;
}
.business{
   width: 100%;
   
   
  }

  
.container-partner{
   margin-top:5rem;
}
.sinistro, .centro, .destro{
   float:left;
}
.sinistro{
    width: 500px;
   }


   /*parte sinistra container****/
   .design{
      background-image: url(../img/designit.svg);
      background-position: center;
      background-repeat: no-repeat;
      background-size: 70%;
      background-color:rgba(162, 211, 155, 1);
      border:10px solid rgba(207, 232, 204, 1);
      width: 250px;
      height: 250px;
      
      
   }
   .asu{
      background-image: url(../img/arizona_state_university.svg);
      background-position: center;
      background-repeat: no-repeat;
      background-size:60%;
      background-color:rgba(97, 8, 43, 1);
      width: 250px;
      height: 250px;
   }
   
   .florida{
      background-image: url(../img/university_of_florida.svg);
      background-position: center;
      background-repeat: no-repeat;
      background-size: 70%;
      background-color:rgba(0, 147, 206, 1);
      width: 250px;
      height: 250px;
   }
   
   .top{
      background-image: url(../img/topps.svg);
      background-position: center;
      background-repeat: no-repeat;
      background-size: 70%;
      background-color:rgba(255, 28, 28, 1);
      width: 250px;
      height: 250px;
   }
.destro{
   width: 500px;
   height: 500px;
   background-color: rgb(16, 192, 183);
}

/*Parte destra****/
.world{
   background-image: url(../img/world_bicycle_relief.svg);
      background-position: center;
      background-repeat: no-repeat;
      background-size: 70%;
      background-color:rgba(213, 0, 31, 1);
      width: 250px;
      height: 250px;
}

.hearst{
   background-image: url(../img/hearst_corp.svg);
      background-position: center;
      background-repeat: no-repeat;
      background-size: 70%;
      background-color:rgba(180, 208, 231, 1);
      width: 250px;
      height: 250px;
}
.lonely{
   background-image: url(../img/lonely_planet.svg);
   background-position: center;
   background-repeat: no-repeat;
   background-size: 70%;
   background-color:rgba(13, 36, 129, 1);
   width: 250px;
   height: 250px;
   
}

.channel{
   
   background-image: url(../img/clear_channel.svg);
   background-position: center;
   background-repeat: no-repeat;
   background-size: 70%;
   background-color:rgba(255, 216, 48, 1);
   width: 250px;
   height: 250px;
   

}
.centro{
   width: 870px;
   height: 500px;
   background-color:rgba(245, 245, 245, 1);
}

/*Parte centrale container*/

.center_text{
   margin:auto 3rem;
   height: 100%;
   
}
.center_text > img{
   display:inline-block;
   margin-top:2.5rem;
}

.center_text > p{
   margin-top:4rem;
   font-size: 20px;
}

.center_text > h5{
   font-family: 'Roboto', sans-serif;
   font-weight: 300;
   margin-top: 3rem;
   font-size: 15px;
}
.margin_botton{
      width: 60px;
      height: 3px;
      margin-top:2rem;
      background-color: rgba(230, 230, 231, 1);
}

.partner1{
   width: 250px;
   float:left;
   display:inline;
   text-align: center;
   line-height: 50px;
   vertical-align: middle;

}

.container_prova{
   width: 100%;
   background-color: rgba(180, 208, 231, 1);
   height: 40vh;
}
.sinistra{
   float:left;
   width: 30%;
   height: 10vh;
   
}
.sinistra > h1{
   font-size: 3.2rem;
   color:rgba(97, 8, 43, 1);
   font-family: 'Roboto', sans-serif;
}
.sinistra{
   margin:10rem auto 10rem 20rem;
}

.destra {
   margin:11rem auto 10rem 20rem;
}
.destra {
   float:left;
   width: 30%;
   height: 10vh;
   
}

.destra > a{
   text-decoration: none;
   padding:5px 23px;
   background-color: white;
   font-family: 'Roboto', sans-serif;
   color:black;
   cursor:pointer;
}

.answer{
   position:relative;
   width: 1150px;
   
   margin:4rem 20rem;
   
}

.answer > h1{
   font-size: 30px;
   font-family: 'Roboto', sans-serif;
}


.answer > h3{
   padding-top:2rem;
   margin-top:4rem;
   border-top: 1px solid rgba(233, 233, 234, 1);
   border-bottom:1px solid rgba(233, 233, 234, 1);
   padding-bottom: 2rem;
}



.freccia{
   position:absolute;
   right:0;
   cursor:pointer;
}

footer{
   margin-top:13rem;
   width: 100%;
   
   background-color: rgba(0, 0, 0, 1);
}

.container_list{
   width: 1600px;
   margin:2.5rem auto;
   height: 500px;
   
  
}
.block{
   float:left;
   margin:20px;
   width: 280px;
   height: 100%;
  ;
}
.text_block{
   height: 100%;
   margin-top:7rem;
}
.text_block li{
   display:block;
   color:white;
   font-family: 'Roboto', sans-serif;
}



.text_block > h2{
   margin-left: 8%;
   color:white;
   font-family: 'Roboto', sans-serif;
   font-size: 30px;
}

.margine_footer{
width: 120px;
height: 3px;
background-color: rgba(59, 59, 59, 1);
margin-left:9%;
}

.ita_footer{
   padding-top:3.5%;
   margin-left:8%;
   color:rgba(53, 53, 53, 1);
}

.fa-earth-asia{
   color:white;
}