*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    
}
button{
   cursor:pointer;
}
/*regole comuni*/
li{
   display: inline;
   margin:20px;
}
.menu_left li a{
   text-decoration: none;
   font-size: 18px;
   color:black;
}

.menu_right li a{
   text-decoration: none;
   font-size: 18px;
   color:black;
}

.button_text{
   position:absolute;
   bottom:25%;
   left:9%;
   padding:10px 30px;
   background-color: rgba(0, 97, 255, 1);
   color:white;
   border:none;
   font-size: 18px;
}




/*Barra di navigazione*/
nav{
   position:relative;
   padding:35px;
   width: 100%;
   min-height: 10vh;
   
   
   
}
.logo{
  float:left;
  margin-left:-10px;
  padding-right: 20px;
}



.menu_left{
   float:left;
   line-height: 25px;
   vertical-align: middle;
}

.menu_right{
   float:right;
   line-height: 25px;
   vertical-align: middle;
   margin-right:80px;
}

.--start{
   padding:5px 20px;
   line-height: 20px;
   vertical-align: middle;
   position:absolute;
   right:0;
   bottom:37%;
   margin-right:25px;
   background-color: rgba(0, 97, 255, 1);
   border:none;
   color:white;
}
/*Barra di navigazione****/



/*hero_container****/
.hero_container{
   position:relative;
   width: 100%;
   height: 80vh;
   background-color: rgba(180, 208, 231, 1);
}

.primary_text{
   position:absolute;
   bottom:65%;
   left:9%;
   min-width: 1550px;
   min-height: 15vh;
   
}

.primary_text > h1{
   font-family: 'Roboto', sans-serif;
   color:rgba(0, 0, 0, 1);
   font-size: 90px;
}

.primary_paragraph{
   position:absolute;
   bottom:35%;
   left:9%;
   min-width: 700px;
   min-height: 15vh;
   

}

.primary_paragraph > p{
   font-size: 20px;
   line-height: 30px;
   font-family: 'Roboto', sans-serif;
   font-weight: 400;
   
}

.jumbo{
   width: 880px;
   height: 50vh;
   background-image: url(../img/jumbo.png);
   background-size: cover;
   position:absolute;
   right: 250px;
   bottom: -80px;
}

.deleteP{
   width: 300px;
   
   position:absolute;
   bottom:18%;
   left:9%;
   
}

.deleteP > p{
   font-size: 20px;
   line-height: 30px;
   font-family: 'Roboto', sans-serif;
   font-weight: 400;
}

.ico_img i{
   display: inline-block;
   position: absolute;
   bottom:80px;
   left:9%;
   
   
}

.ico_img{
   
   position:absolute;
   bottom:35px;
   left:7.5%;
}

/*hero_container****/

/*container01*/
.container_01{
   width: 1600px;
   margin:15rem auto;
   
  
}
/*container01*/
.plan{
   position:relative;
   padding:50px;
   
}
.plan > h1{
   font-size: 50px;
   margin-left:10.5%;
   font-family: 'Roboto', sans-serif;
}

.box{
   
   width: 350px;
   margin-left:150px;
   margin-top:200px;
   height: 1400px;
   border:1px solid rgba(224, 224, 226, 1);
   box-shadow: 0 0 10px rgba(224, 224, 226, 1);
   float:left;
}

.clearfix::after{
   content:"";
   display:table;
   clear: both;
}
 
.container_form{
   width: 450px;
   position:absolute;
   top: 11%;
   left: 13%;
   display:fixed;
}

.form_action{
   font-size: 18px;
   line-height: 30px;
   font-family: 'Roboto', sans-serif;
   font-weight: 400;
   margin:10px;
}


/*implementazione box professionale (1 box)*/

.professional{
position:relative;
}

.single_user{
   width: 100%;
   
   text-align: center;
   padding:15px;
   font-size: 18px;
   line-height: 30px;
   font-family: 'Roboto', sans-serif;
   font-weight: 400;
   border-bottom:1px solid rgba(224, 224, 226, 1);
}
.mouth{
   color:rgba(132, 144, 154, 1)
}
.professional_single, .mouth{
   padding:15px;
   font-family: 'Roboto', sans-serif;
}

.professional_user{
   padding:29px;
   font-family: 'Roboto', sans-serif;
   font-weight: 300;
   font-size: 18px;

}
.pen{
   line-height: 30px;
   text-align: end;
   
}



 h4 {
   padding:15px;
   font-weight: 300;
   font-family: 'Roboto', sans-serif;
   font-size: 18px;
}
.try_professional a {
   text-decoration: none;
   
   padding:9px 20px;
    background-color: rgba(0, 97, 255, 1);
    color: white;
    border: none;
    font-size: 18px;
    
}

.punti_plan{
   font-weight: 700;
}
.try_professional{
   padding:20px;
}




.buy_now a{
   color: rgba(60, 134, 255, 1);
   
}

.border{
   width: 40px;
   height: 3px;
   background-color: rgba(224, 224, 226, 1);
   margin-left:15px;
}

.punti_plan{
   padding-top:50px;
   margin-left:15px;
   font-family: 'Roboto', sans-serif;
   font-size: 18px;
   
}

.check{
   width: 100%;
   height: 100%;
   
   
}

.check ol{
   list-style: none;
   
}
.check li{
   display:inline-block;
   margin:12px;
   font-family: 'Roboto', sans-serif;
   font-weight: 300;
   font-size: 18px;
   padding:10px;
   
   
}
.fa-check{
   color:rgba(18, 108, 255, 1);
}




