*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    
}
/*regole comuni*/
li{
   display: inline;
   margin:20px;
}
.menu_left li a{
   text-decoration: none;
   font-size: 18px;
   color:black;
}

.menu_right li a{
   text-decoration: none;
   font-size: 18px;
   color:black;
}

.button_text{
   position:absolute;
   bottom:25%;
   left:9%;
   padding:10px 30px;
   background-color: rgba(0, 97, 255, 1);
   color:white;
   border:none;
   font-size: 18px;
}




/*Barra di navigazione*/
nav{
   position:relative;
   padding:35px;
   width: 100%;
   min-height: 10vh;
   
   
   
}
.logo{
  float:left;
  margin-left:-10px;
  padding-right: 20px;
}



.menu_left{
   float:left;
   line-height: 25px;
   vertical-align: middle;
}

.menu_right{
   float:right;
   line-height: 25px;
   vertical-align: middle;
   margin-right:80px;
}

.--start{
   padding:5px 20px;
   line-height: 20px;
   vertical-align: middle;
   position:absolute;
   right:0;
   bottom:37%;
   margin-right:25px;
   background-color: rgba(0, 97, 255, 1);
   border:none;
   color:white;
}
/*Barra di navigazione****/



/*hero_container****/
.hero_container{
   position:relative;
   width: 100%;
   height: 80vh;
   background-color: rgba(180, 208, 231, 1);
}

.primary_text{
   position:absolute;
   bottom:65%;
   left:9%;
   min-width: 1550px;
   min-height: 15vh;
   
}

.primary_text > h1{
   font-family: 'Roboto', sans-serif;
   color:rgba(0, 0, 0, 1);
   font-size: 90px;
}

.primary_paragraph{
   position:absolute;
   bottom:35%;
   left:9%;
   min-width: 700px;
   min-height: 15vh;
   

}

.primary_paragraph > p{
   font-size: 20px;
   line-height: 30px;
   font-family: 'Roboto', sans-serif;
   font-weight: 400;
   
}

.jumbo{
   width: 880px;
   height: 50vh;
   background-image: url(../img/jumbo.png);
   background-size: cover;
   position:absolute;
   right: 250px;
   bottom: -80px;
}

.deleteP{
   width: 300px;
   
   position:absolute;
   bottom:18%;
   left:9%;
   
}

.deleteP > p{
   font-size: 20px;
   line-height: 30px;
   font-family: 'Roboto', sans-serif;
   font-weight: 400;
}

.ico_img i{
   display: inline-block;
   position: absolute;
   bottom:80px;
   left:9%;
   
   
}

.ico_img{
   
   position:absolute;
   bottom:35px;
   left:7.5%;
}

/*hero_container****/